{% extends "base.html" %}

{% load staticfiles %}
{% load kate_extras %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>Schachspiel &nbsp; {{ match.begin }}</h2>
        </div>
    </div>
{% endblock %}

{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2 style="text-align: left; vertical-align: middle">
                <a href="{% url 'kate:new' %}">NEUES SPIEL</a> |
                <a href="{% url 'kate:load' %}">SPIEL LADEN</a> |
                <a href="{% url 'kate:undomove' match.id %}">ZUG RÜCKNEHMEN</a>
            </h2>
        </div>
    </div>
{% endblock %}


{% block comment %}
    <div class="grid">
        <div class="row_12_of_12">
            <p>Das ist erst der Anfang...</p>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_12_of_12">
        {% if match.id != None %}
            <table>
                <tr>
                    <td>
                        {% if match.white_player == None %}
                            &nbsp;
                        {% else %}
                            {{ match.white_player }}
                        {% endif %}
                    </td>
                    <td style="width: 10px; text-align: center;">
                        :
                    </td>
                    <td>
                        {% if match.black_player == None %}
                            &nbsp;
                        {% else %}
                            {{ match.black_player }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}
        </div>
    </div>

    <div class="gap"></div>

    <div class="grid">
        <div class="row_6_of_12">
            <table id="board">
            {% for row in board reversed %}
                <tr>
                {% for col in row %}
                    <td id="{{ col.1 }}" value="{{ col.0 }}">
                    {% if col.0 == 0 %}
                        &nbsp;
                    {% else %}
                        <img src="{% static col.0|imgsrc %}">
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>

        <div class="row_6_of_12">
            <table id="moves">
            {% for col in fmtmoves %}
                {{ col|safe }}
            {% endfor %}
            </table>
        </div>
    </div>

    {% if match.id != None %}
    <div class="grid">
        <div class="row_12_of_12">
            <form id="move" method="post" action="{% url 'kate:move' match.id %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            <input type="hidden" name="match" value="{{match.id}}" style="height: 0px" />
                            <input id="move-src" type="text" name="move_src" value="" size="5" />
                        </td>
                        <td>
                            <input id="move-dst" type="text" name="move_dst" value="" size="5" />
                        </td>
                        <td>
                            <input id="prom-piece" type="text" name="prom_piece" value="blk" size="5" class="invisible" />
                        </td>
                        <td>
                            <input type="submit" value="ziehen" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    {% endif %}

    <script>
        $('#board td').click(function(){
            if( $(this).hasClass("marked") ){
                $(this).removeClass("marked");
                $('#prom-piece').addClass("invisible");
                if( $('#move-dst').val().trim() == $(this).attr("id") ){
                    $('#move-dst').val("");
                }
                else if( $('#move-src').val().trim() == $(this).attr("id") ){
                    $('#move-src').val("");
                    $('#move-dst').val("");
                }
            }
            else{
                $(this).addClass("marked");
                var src = $('#move-src').val();
                if(! src.trim() ){
                    $('#move-src').val($(this).attr("id"));
                }
                else{
                    $('#move-dst').val($(this).attr("id"));
                    var fieldid = $('#move-src').val();
                    var piece = $('#' + fieldid).attr("value");
                    if( piece == '2' ){
                        var row = $('#move-dst').val();
                        if( row.charAt(1) == '8' ){
                            $('#prom-piece').removeClass("invisible");
                            $('#prom-piece').val('wQu');
                        }
                    }
                    else if( piece == '10' ){
                        var row = $('#move-dst').val();
                        if( row.charAt(1) == '1' ){
                            $('#prom-piece').removeClass("invisible");
                            $('#prom-piece').val('bQu');
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}
