appdirs==1.4.3
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.13
django-rq==1.1.0
django-toolbelt==0.0.1
gunicorn==19.6.0
packaging==17.1
psycopg2==2.7.4
Pygments==2.2.0
pygobject==3.28.2
pyparsing==2.2.0
python-redis==0.1.7
pytz==2018.4
PyYAML==3.12
redis==2.10.6
rq==0.10.0
static3==0.7.0
virtualenv==15.1.0
whitenoise==3.3.0
