appdirs==1.4.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.3
django-toolbelt==0.0.1
gunicorn==19.6.0
lxml==3.7.3
packaging==16.8
psycopg2==2.7
pyparsing==2.1.10
PyYAML==3.12
six==1.10.0
static3==0.7.0
virtualenv==15.1.0
whitenoise==3.3.0
youtube-dl==2017.3.2
redis==2.10.5
rq==0.7.0
