
.clearfix {
    clear: both;
}

.fbold {
    font-weight: bold;
}

.marked {
    opacity: 0.4;
}

.invisible {
    display: none;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

body {
    background-color: white;
}

h1, h2 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

a, a:link, a:visited, a:active {
    color: #0000CD;
    text-decoration: underline;
}

ul {
    list-style-position: inside;
}

li {
    list-style-type: square;
}

img {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 0px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

#wrapper {
    margin: 0px auto;
    padding: 0px;
    width: 768px;
    // max-width: 90%;
    min-width: 420px;
}

header {
    padding: 5px;
    margin: 0px;
    background-color: lightgrey;
}

nav {
    padding: 5px;
    margin: 0px;
    background-color: lightblue;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline-block;
}

nav li a, 
nav li a:link, 
nav li a:visited,
nav li a:active {
    color: #0000CD;
    text-decoration: none;
}

#chat {
    padding: 5px;
    margin: 0px;
    background-color: #FFDEAD;
}

#chat p {
    margin: 0px;
    padding: 0px 0px 4px 0px;
    font-size: 14px;
}

#comments{
    min-height: 140px;
    max-height: 140px;
    overflow: auto;
}

#content {
    clear: both;
    padding: 5px;
    margin: 0px;
    background-color: #FF8C69;
}

#msg {
    padding: 5px;
    margin: 0px;
    background-color: Beige;
    min-height: 30px;
    max-height: 30px;
    overflow: auto;
}

table#board {
    background: gray;
}

table#board td {
    width: 48px; 
    height: 48px;
}

#board tr:nth-child(odd) td:nth-child(even), #board tr:nth-child(even) td:nth-child(odd) {
    background-color: white;
}

table#board img {
    width: 48px; 
    height: 48px;
}

tr#board-letters td, .board-label {
    background-color: #FF8C69 !important;
    text-align: center;
    font-size: 12px;
}

tr#board-letters td:first-child, tr#board-letters td:nth-child(10) {
    width: 24px !important;
}

tr#board-letters td {
    height: 24px !important;
}


table#process-move {
}

table#minutes {
}

#minutes td:first-child {
    min-width: 30px;
    width: 30px;
}

#minutes td {
    min-width: 80px;
}

button, input[type="submit"]{
    min-width: 100px;
    height: 30px;
}

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  text-align: center;
  color: #333;
  background-color: #E6E6E6;
  background-image: linear-gradient(top, white 0%, #E6E6E6 100%);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid darkgray;
  white-space: nowrap; 

}

a.btn, a.btn:visited, a.btn:hover {
  color: #333;
  text-decoration: none; 
}

.error, .ok {
    font-weight: bold;
}

.error{
    color: red;
}

.hint {
    background-color: lightblue !important;
}
