
.clearfix {
    clear: both;
}

.fbold {
    font-weight: bold;
}

.marked {
    opacity: 0.4;
}

.invisible {
    display: none;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

body {
    background-color: white;
}

h1, h2 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p {
    margin: 0px;
    padding: 0px;
}

a, a:link, a:visited, a:active {
    color: #0000CD;
    text-decoration: underline;
}

ul {
    list-style-position: inside;
}

li {
    list-style-type: square;
}

img {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 0px;
}

table {
    border-collapse: collapse;
}

#wrapper {
    margin: 0px auto;
    padding: 0px;
    width: 680px;
    max-width: 90%;
    min-width: 320px;
}

header {
    padding: 10px;
    margin: 0px;
    background-color: lightgrey;
}

header h1 {
    padding: 0px;
    font-size: 28px;
    text-align: left;
}

nav {
    padding: 10px;
    margin: 0px;
    background-color: lightblue;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline-block;
}

nav li a, 
nav li a:link, 
nav li a:visited,
nav li a:active {
    color: #0000CD;
    text-decoration: none;
}

#chat {
    clear: both;
    padding: 10px;
    margin: 0px;
    background-color: #FFDEAD;
    // background-color: beige;
}

#chat p {
    margin: 0px;
    padding: 0px;
}

#comments{
    min-height: 140px;
    max-height: 140px;
    overflow: auto;
}

#content {
    clear: both;
    padding: 10px;
    margin: 0px;
    background-color: #FF8C69;
}

table#board {
    background: gray;
}

table#board td {
    width: 48px; 
    height: 48px;
}

table#board img {
    width: 48px; 
    height: 48px;
}

#board tr:nth-child(odd) td:nth-child(even), #board tr:nth-child(even) td:nth-child(odd) {
    background-color: white;
}

tr#board-letters td, .board-label {
    background-color: #FF8C69 !important;
    text-align: center;
}

#moves td:first-child {
    width: 30px;
}

#moves td {
    width: 80px;
}