<!DOCTYPE html>
    <html>
        <head>
            {% load static from staticfiles %}

            <meta charset="utf-8">

            <link rel="stylesheet" type="text/css" href="{% static 'responding.css' %}">

            <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">

            <script src="{% static 'jquery-1.11.1.min.js' %}"></script>

            <title>
                {% block title %}Katies Chess Lecture{% endblock %}
            </title>
        </head>
        <body id="{{body_id}}">
            <div id="wrapper">
                <header>
                    {% block header %}
                    {% endblock %}
                </header>

                <nav>
                    {% block nav %}
                    {% endblock %}
                </nav>

                <div id="chat">
                    {% block chat %}
                    {% endblock %}
                </div>

                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </body>
    </html>
