<!DOCTYPE html>
    <html>
        <head>
            {% load static from staticfiles %}

            <meta charset="utf-8">

            <meta name="viewport" content="width: 460px, initial-scale=1">
            
            <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

            <script src="{% static 'jquery-1.11.1.min.js' %}"></script>
            
            <script src="{% static 'jquery-ui.min.js' %}"></script>

            <script src="{% static 'custom.js' %}"></script>

            <title>
                {% block title %}Katies Lecture{% endblock %}
            </title>
        </head>
        <body>
            <div id="wrapper">
                <header>
                    {% block header %}
                    {% endblock %}
                </header>

                <nav>
                    {% block nav %}
                    {% endblock %}
                </nav>

                <div id="content-wrapper">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </body>
    </html>
