

        <div class="grid">
            <div id="comments" class="row_6_of_12">
            {% for comment in comments reversed %}
                <p>{{ comment.text }}</p>
            {% endfor %}
            </div>
            
            <div class="row_6_of_12">
                <form id="addcomment" method="post" action="{% url 'kate:addcomment' match.id %}" matchid="{{ match.id }}">
                    {% csrf_token %}
                    <textarea id="newcomment" name="newcomment"></textarea>
                    <input type="text" name="switchflag" value="{{ switch }}" style="display: none;" />
                    <input type="submit" value="kommentieren" />
                </form>
            </div>
        </div>