{% load staticfiles %}
{% load kate_extras %}

    <div>
      <form id="addcomment" method="post" action="{% url 'kate:addcomment' match.id %}?switch={{ switch }}" matchid="{{ match.id }}">
        {% csrf_token %}
        <textarea id="newcomment" name="newcomment" style="width: 100%"></textarea>
        
        <div class="small-gap"></div>

        <input type="submit" value="comment" />
      </form>
    </div>

    <div>
      {% for comment in comments %}
        <p>{{ comment.text }}</p>
      {% endfor %}
    </div>
