{% load staticfiles %}
{% load kate_extras %}

        <div class="tiny-gap" style="display: grid; grid-template-columns: 2fr 6fr 16fr; grid-gap: 4px;">
            <p>&nbsp;</p>
            {% if match.white_player.is_human %}
              <p>{{ match.white_player.name }}</p>
            {% else %}
              <p style="color: DarkBlue">{{ match.white_player.name }}</p>
            {% endif %}
            {% if match.black_player.is_human %}
              <p>{{ match.black_player.name }}</p>
            {% else %}
              <p style="color: DarkBlue">{{ match.black_player.name }}</p>
            {% endif %}
        </div>

        {% for move in moves %}
            {% if move.count|iseven == False %}
                <div style="display: grid; grid-template-columns: 2fr 6fr 16fr; grid-gap: 4px;">
                    <p>{{ move.count|chesscnt }}.</p>
                    <p>{{ move.format_move }}</p>
            {% else %}
                    <p>{{ move.format_move }}</p>
                </div>
            {% endif %}
        {% endfor %}
