{% extends "base.html" %}

{% load staticfiles %}
{% load kate_extras %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h1>Analyze Game</h1>
            <h2>
                {{ match.white_player }} &nbsp; : &nbsp; {{ match.black_player }} , &nbsp; 
                Level: &nbsp; {{ match.level|matchlevel }}
            </h2>
        </div>
    </div>
{% endblock %}


{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>
                <a href="{% url 'kate:index' %}">OVERVIEW</a>
            </h2>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_8_of_12">
            <div id="board-wrapper">
              {% include "kate/_chessboard.html" with match=match %}
            </div>
        </div>

        <div class="row_4_of_12">
            <div id="score">
                <p>Score: &nbsp; {{ match.score }}</p>
            </div>
            <div id="analyze">
                {% for sthread in searchmoves %}
                  <p class="gap">
                    {% if threadidx == forloop.counter0 %}
                      <form id="move" method="post" action="{% url 'kate:replay' match.id threadidx rcount %}">
                    {% else %}
                      <form id="move" method="post" action="{% url 'kate:replay' match.id forloop.counter0 0 %}">
                    {% endif %}
                        {% csrf_token %}
                        <input type="submit" value="submit" />
                    </form>
                  {% for gmove in sthread %}
                    {% if gmove %}
                      [{{ gmove.format_genmove }}]
                    {% endif %}
                  {% endfor %}
                  </p>
              {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            performMove();
            drag();
            drop();

            $('#promotion td').click(function(){
                var piece;
                piece = $(this).attr("value");
                $('#prom-piece').val(piece);
                $('#move').submit();
            });
        });
    </script>
{% endblock %}
