{% extends "base.html" %}

{% load staticfiles %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>Schachspiel {{ match.id }} ändern</h2>
        </div>
    </div>
{% endblock %}


{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>
                <a href="{% url 'kate:match' match.id switch %}">ABBRECHEN</a>
            </h2>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_12_of_12">
            <form id="edit" method="post" action="{% url 'kate:update' match.id switch %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            Weisser Spieler: &nbsp;
                        </td>
                        <td>
                            <input type="text" name="white_player" value="{{ match.white_player }}" size="20" />
                        </td>
                        <td>
                            <label>&nbsp; Mensch &nbsp;</label>
                        {% if match.white_player_human %}
                            <input type="checkbox" name="white_player_human" value="white_player_human" checked="checked" />
                        {% else %}
                            <input type="checkbox" name="white_player_human" value="white_player_human" />
                        {% endif %}
                        </td>                        
                    </tr>
                    <tr>
                        <td>
                            Schwarzer Spieler: &nbsp;
                        </td>
                        <td>
                            <input type="text" name="black_player" value="{{ match.black_player }}" size="20" />
                        </td>
                        <td>
                            <label>&nbsp; Mensch &nbsp;</label>
                        {% if match.black_player_human %}
                            <input type="checkbox" name="black_player_human" value="black_player_human" checked="checked" />
                        {% else %}
                            <input type="checkbox" name="black_player_human" value="black_player_human" />
                        {% endif %}
                        </td>                        
                    </tr>
                    <tr>
                        <td style="padding-top: 4px;">
                            <label>Level:</label>
                        </td>
                        <td colspan=2>
                            <select name="level" size="1">
                            {% if match.level == 1 %}
                                <option selected>low</option>
                            {% else %}  
                                <option>low</option>
                            {% endif %}
                            {% if match.level == 2 %}
                                <option selected>medium</option>
                            {% else %}  
                                <option>medium</option>
                            {% endif %}
                            {% if match.level == 3 %}
                                <option selected>high</option>
                            {% else %}
                                <option>high</option>
                            {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px;">
                            &nbsp;
                        </td>
                        <td colspan=2>
                            <input type="submit" value="submit" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
