{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <h1><a href="{% url 'kate:index' %}">Overview</a></h1>
{% endblock %}

{% block nav %}
    <h2>
        <a href="{% url 'kate:settings' %}">NEW GAME</a> |
        <a href="{% url 'kate:importmatch' %}">IMPORT GAME</a>
    </h2>

    <p style="font-size: 12px;">2018.02.28-2</p>
{% endblock %}


{% block content %}
    <table id="match-list">
      {% for match in matches %}
        <tr>
            <td>
                <a href="{% url 'kate:match' match.id %}">{{ match.begin }} {{ match.white_player }} {{ match.black_player }}</a>
            </td>
            <td>
                <a style="color: #800000" href="{% url 'kate:delete' match.id %}" onclick="return confirm('Wollen sie diese Partie endgültig löschen?')">delete</a>
            </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
