{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
    <h1><a href="{% url 'kate:index' %}">Overview</a></h1>
{% endblock %}

{% block nav %}
    <ul>
        <li><a href="{% url 'kate:settings' %}">NEW GAME</a></li>
    </ul>

    <p style="font-size: 12px;">2018.03.25-1</p>
{% endblock %}


{% block content %}
    <ul id="match-list">
      {% for match in matches %}
        <li>
            <div><a href="{% url 'kate:match' match.id %}">{{ match.begin }} {{ match.white_player }} {{ match.black_player }}</a></div>

            <div><a style="color: #800000;" href="{% url 'kate:delete' match.id %}" onclick="return confirm('Wollen sie diese Partie endgültig löschen?')">delete</a></div>
        </li>
      {% endfor %}
    </ul>
{% endblock %}
