{% extends "base.html" %}

{% load staticfiles %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>Overview</h2>
        </div>
    </div>
{% endblock %}

{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>
                <a href="{% url 'kate:settings' %}">NEW GAME</a> |
                <a href="{% url 'kate:importmatch' %}">IMPORT GAME</a>
            </h2>
            <p style="font-size: 12px;">2018.02.27-2</p>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_12_of_12">
            <ul>
                <table>
                {% for match in matches %}
                    <tr>
                        <td style="padding-right: 20px">
                            <li><a href="{% url 'kate:match' match.id %}">{{ match.begin }} {{ match.white_player }} {{ match.black_player }}</a></li>
                        </td>
                        <td>
                            <a style="color: #800000" href="{% url 'kate:delete' match.id %}" onclick="return confirm('Wollen sie diese Partie endgültig löschen?')">delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </ul>
        </div>
    </div>
{% endblock %}

