{% extends "base.html" %}

{% load staticfiles %}
{% load kate_extras %}


{% block header %}
    <h1><a href="{% url 'kate:match' match.id %}?switch={{ switch }}">Game</a></h1>

    <h2>{{ match.white_player_name }} &nbsp; : &nbsp; {{ match.black_player_name }}</h2>

    <p>Level: &nbsp; {{ match.level|matchlevel }}</p>

    <p>Created on: &nbsp; {{ match.begin|fmtdate }}</p>
{% endblock %}


{% block nav %}
    <ul>
        <li><a href="{% url 'kate:match' match.id %}?switch={{ switch|invert }}">SWITCH BOARD</a></li>

        <li><a href="{% url 'kate:undomove' match.id %}?switch={{ switch }}" onclick="return confirm('Withdraw last move?')">WITHDRAW MOVE</a></li>

        <li><a href="{% url 'kate:resume' match.id %}?switch={{ switch }}">RESUME</a></li>

        <li><a href="{% url 'kate:settings' match.id %}?switch={{ switch }}">EDIT GAME</a></li>

        <li><a href="{% url 'kate:index' %}">OVERVIEW</a></li>
    </ul>
{% endblock %}


{% block content %}
    {% if match.is_white_player_human and match.is_black_player_human %}
        <div id="chat">
            {% include "kate/_chat.html" with match=match %}
        </div>
    {% endif %}

    <div id="game">
      <div id="board-wrapper">
        <p id="msg">{{ msg|safe }}</p>

        {% if switch == '0' %}
            {% include "kate/_chessboard.html" with match=match board=board %}
        {% else %}
            {% include "kate/_reversed_chessboard.html" with match=match board=board %}
        {% endif %}

        <table id="promotion">
            <tr id="white-pieces" class="invisible">
                <td value="wQu"><img src="{% static 'wQu'|imgsrc %}"></td>
                <td value="wBp"><img src="{% static 'wBp'|imgsrc %}"></td>
                <td value="wKn"><img src="{% static 'wKn'|imgsrc %}"></td>
                <td value="wRk"><img src="{% static 'wRk'|imgsrc %}"></td>
             </tr>
             <tr id="black-pieces" class="invisible">
                <td value="bQu"><img src="{% static 'bQu'|imgsrc %}"></td>
                <td value="bBp"><img src="{% static 'bBp'|imgsrc %}"></td>
                <td value="bKn"><img src="{% static 'bKn'|imgsrc %}"></td>
                <td value="bRk"><img src="{% static 'bRk'|imgsrc %}"></td>
            </tr>
        </table>

       <form id="move" method="post" action="{% url 'kate:domove' match.id %}?switch={{ switch }}" style="display: none;">
           {% csrf_token %}
           {{ form.as_p }}
           <input type="submit" value="submit" />
       </form>
      </div>

      <div id="minutes">
        <p>Score: &nbsp; {{ match.score }}</p>

        <p> &nbsp; {{ running }}</p>

        {% include "kate/_minutes.html" with match=match %}
      </div>
    </div>

    {% if debug == 'true' %}
        <p>{{ debug_data|safe }}</p>
    {% endif %}

    <script>
        $(document).ready(function() {
            performMove();
            drag();
            drop();

            $('#promotion td').click(function(){
                var piece;
                piece = $(this).attr("value");
                $('#prom-piece').val(piece);
                $('#move').submit();
            });

            setInterval(function(){
                var matchid;
                var movecnt;
                var newcomment;
                matchid = $('#board').attr("matchid");
                movecnt = $('#board').attr("movecnt");
                $.get('/kate/fetchmatch', { matchid: matchid, movecnt: movecnt }, function(data){
                    if(data.length > 0){
                        location.reload();
                    }
                });
          {% if match.level == 0 %}
            }, 20000);
          {% else %}
            }, 40000);
          {% endif %}

          {% if match.white_player_human and match.black_player_human %}
            setInterval(function() {
                var matchid;
                matchid = $('#addcomment').attr("matchid");
                $.get('/kate/fetchcomments', { matchid: matchid }, function(data){
                    if(data.length > 0){
                        $('#comments').html(data);
                    }
                });
            }, 23000);
          {% endif %}
        });
    </script>
{% endblock %}
