{% extends "base.html" %}

{% load staticfiles %}
{% load kate_extras %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h1><a href="{% url 'kate:match' match.id switch %}">Game</a></h1>
            <h2>
                {{ match.white_player }} &nbsp; : &nbsp; {{ match.black_player }} , &nbsp; 
                Created on: &nbsp; {{ match.begin|fmtdate }} ,&nbsp;
                Level: &nbsp; {{ match.level|matchlevel }}
            </h2>
            <p style="font-size: 12px;">2018.01.28-2</p>
        </div>
    </div>
{% endblock %}


{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>
                <a href="{% url 'kate:match' match.id switch|invert %}">SWITCH BOARD</a> |
                <a href="{% url 'kate:undomove' match.id switch %}" onclick="return confirm('Withdraw last move?')">WITHDRAW MOVE</a> |
                <a href="{% url 'kate:resume' match.id switch %}">RESUME</a> |
                <a href="{% url 'kate:settings' match.id switch %}">EDIT GAME</a> |
                <a href="{% url 'kate:settings' %}">NEW GAME</a> |
                <a href="{% url 'kate:index' %}">OVERVIEW</a>
            </h2>
        </div>
    </div>
{% endblock %}


{% block chat %}
    {% if match.white_player_human and match.black_player_human %}
        {% include "kate/_chat.html" with match=match %}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_8_of_12">
            <div id="msg">
                {{ msg|safe }}
            </div>

            <div id="board-wrapper">
              {% if switch == '0' %}
                {% include "kate/_chessboard.html" with match=match %}
              {% else %}
                {% include "kate/_reversed_chessboard.html" with match=match %}
              {% endif %}
            </div>

            <div>
                <table id="promotion">
                    <tr id="white-pieces" class="invisible">
                        <td value="wQu"><img src="{% static 'wQu'|imgsrc %}"></td>
                        <td value="wBp"><img src="{% static 'wBp'|imgsrc %}"></td>
                        <td value="wKn"><img src="{% static 'wKn'|imgsrc %}"></td>
                        <td value="wRk"><img src="{% static 'wRk'|imgsrc %}"></td>
                     </tr>
                     <tr id="black-pieces" class="invisible">
                        <td value="bQu"><img src="{% static 'bQu'|imgsrc %}"></td>
                        <td value="bBp"><img src="{% static 'bBp'|imgsrc %}"></td>
                        <td value="bKn"><img src="{% static 'bKn'|imgsrc %}"></td>
                        <td value="bRk"><img src="{% static 'bRk'|imgsrc %}"></td>
                    </tr>
                </table>
            </div>

           <form id="move" method="post" action="{% url 'kate:domove' match.id switch %}" style="display: none;">
               {% csrf_token %}
               {{ form }}
               <input type="submit" value="submit" />
           </form>
        </div>

        <div class="row_4_of_12">
            <div id="score">
                <p>Score: &nbsp; {{ match.score }}</p>
            </div>

            <div id="running">
                <p> &nbsp; {{ running }}</p>
            </div>

            <div id="minutes">
              {% include "kate/_minutes.html" with match=match %}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            performMove();
            drag();
            drop();

            $('#promotion td').click(function(){
                var piece;
                piece = $(this).attr("value");
                $('#prom-piece').val(piece);
                $('#move').submit();
            });

            setInterval(function(){
                var matchid;
                var movecnt;
                var newcomment;
                matchid = $('#board').attr("matchid");
                movecnt = $('#board').attr("movecnt");
                $.get('/kate/fetchmatch', { matchid: matchid, movecnt: movecnt }, function(data){
                    if(data.length > 0){
                        location.reload();
                    }
                });
          {% if match.level == 0 %}
            }, 20000);
          {% else %}
            }, 40000);
          {% endif %}

          {% if match.white_player_human and match.black_player_human %}
            setInterval(function() {
                var matchid;
                matchid = $('#addcomment').attr("matchid");
                $.get('/kate/fetchcomments', { matchid: matchid }, function(data){
                    if(data.length > 0){
                        $('#comments').html(data);
                    }
                });
            }, 23000);
          {% endif %}
        });
    </script>
{% endblock %}
