{% extends "base.html" %}

{% load staticfiles %}
{% load kate_extras %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h1>Schachspiel</h1>
            <p> {{ match.white_player }} &nbsp; versus &nbsp; {{ match.black_player }}, &nbsp; {{ match.begin }}</p>
        </div>
    </div>
{% endblock %}


{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>
                <a href="{% url 'kate:new' %}">NEUES SPIEL</a> |
                <a href="{% url 'kate:index' %}">SPIEL LADEN</a> |
                <a href="{% url 'kate:match' match.id switch|invert %}">BRETT DREHEN</a> |
                <a href="{% url 'kate:undomove' match.id switch %}" onclick="return confirm('Wollen sie den letzten Zug zurücknehmen?')">ZUG RÜCKNEHMEN</a> |
                <a href="{% url 'kate:edit' match.id %}">SPIEL ÄNDERN</a>
            </h2>
        </div>
    </div>
{% endblock %}


{% block chat %}
    <div class="grid">
        <div id="comments" class="row_6_of_12">
        {% for comment in comments reversed %}
            <p>{{ comment.text }}</p>
        {% endfor %}
        </div>
        
        <div class="row_6_of_12">
            <form id="addcomment" method="post" action="{% url 'kate:addcomment' match.id %}" matchid="{{ match.id }}" style="padding-top: 5px;">
                {% csrf_token %}
                <textarea id="newcomment" name="newcomment"></textarea>
                <!-- textarea id="newcomment" name="newcomment" cols="40" rows="2" maxlength="200"></textarea -->
                <input type="text" name="switchflag" value="{{ switch }}" style="display: none;" />
                <input type="submit" value="kommentieren" />
            </form>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_8_of_12">
            <div id="msg">
                {{ msg|safe }}
            </div>

            <div>
                {{ match.white_player }} &nbsp; vs. &nbsp; 
                {{ match.black_player }} &nbsp; 
                Level: &nbsp; {{ match.level }} &nbsp; 
                Score: &nbsp; {{ match.score }}
            </div>
            
            <div id="board-wrapper">
                <table id="board" matchid="{{ match.id }}" movecnt="{{ match.count }}">
                    <tr id="board-letters1">
                        <td>&nbsp;</td>
                        {% for i in range %}
                            <td>{{ i|letter }}</td>
                        {% endfor %}
                        <td>&nbsp;</td>
                    </tr>
                {% for row in board %}
                    <tr>
                        <td class="board-label">{{ row.0.1|cut }}</td>
                    {% for col in row %}
                        {% if col.1 == movesrc or col.1 == movedst %}
                            <td id="{{ col.1 }}" class="hint" value="{{ col.0 }}">
                        {% else %}
                            <td id="{{ col.1 }}" value="{{ col.0 }}">
                        {% endif %}
                        {% if col.0 == 0 %}
                            &nbsp;
                        {% else %}
                            <img src="{% static col.0|imgsrc %}">
                        {% endif %}
                        </td>
                    {% endfor %}
                        <td class="board-label">{{ row.0.1|cut }}</td>
                    </tr>
                {% endfor %}
                    <tr id="board-letters2">
                        <td>&nbsp;</td>
                        {% for i in range %}
                            <td>{{ i|letter }}</td>
                        {% endfor %}
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>

            <div>
                <table id="promotion">
                    <tr id="white-pieces" class="invisible">
                        <td value="wQu"><img src="{% static 6|imgsrc %}"></td>
                        <td value="wBp"><img src="{% static 5|imgsrc %}"></td>
                        <td value="wKn"><img src="{% static 4|imgsrc %}"></td>
                        <td value="wRk"><img src="{% static 3|imgsrc %}"></td>
                     </tr>
                     <tr id="black-pieces" class="invisible">
                        <td value="bQu"><img src="{% static 14|imgsrc %}"></td>
                        <td value="bBp"><img src="{% static 13|imgsrc %}"></td>
                        <td value="bKn"><img src="{% static 12|imgsrc %}"></td>
                        <td value="bRk"><img src="{% static 11|imgsrc %}"></td>
                    </tr>
                </table>
            </div>

            <form id="move" method="post" action="{% url 'kate:domove' match.id %}" style="display: none;">
                {% csrf_token %}
                <table id="process-move">
                    <tr>
                        <td>
                            <input id="move-src" type="text" name="move_src" value="" size="3" />
                            &nbsp;
                        </td>
                        <td>
                            <input id="move-dst" type="text" name="move_dst" value="" size="3" />
                            &nbsp;
                        </td>
                        <td>
                            <input id="prom-piece" type="text" name="prom_piece" value="blk" size="3" readonly="readonly" />
                            &nbsp;
                        </td>
                        <td>
                            <input id="switch" type="text" name="switch" value="{{ switch }}" size="3" readonly="readonly" />
                            &nbsp;
                        </td>

                        <td>
                            <input type="submit" value="ziehen" />
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="row_4_of_12">
            <div id="minutes">
                <table>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            {% if match.white_player_human == False %}
                                <span class="fbold">{{ match.white_player }}&nbsp;</span>
                            {% else %}
                                {{ match.white_player }}&nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if match.black_player_human == False %}
                                <span class="fbold"> {{ match.black_player }} </span>
                            {% else %}
                                {{ match.black_player }}
                            {% endif %}
                        </td>
                    </tr>
                    {% for move in moves %}
                        {% if move.count|iseven == False %}
                            <tr><td>{{ move.count|chesscnt }}. &nbsp;</td>
                            <td>{{ move.format_move }}</td>
                        {% else %}
                            <td>{{ move.format_move }}</td></tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            performMove();

            $('#promotion td').click(function(){
                var piece;
                piece = $(this).attr("value");
                $('#prom-piece').val(piece);
                $("#move").submit()
            });

            setInterval(function() {
                var matchid;
                matchid = $('#addcomment').attr("matchid");
                $.get('/kate/fetchcomments', { matchid: matchid }, function(data){
                    $('#comments').html(data);
                });
            }, 8000);

            setInterval(function(){
                var matchid;
                matchid = $('#board').attr("matchid");
                movecnt = $('#board').attr("movecnt");
                switchflag = $('#switch').attr("value");
                $.get('/kate/fetchboard', { matchid: matchid, movecnt: movecnt, switchflag: switchflag }, function(data){
                    if(data.length > 0){
                        var arr = data.split(':');
                        $('#board-wrapper').html(arr[0]);
                        $('#minutes').html(arr[1]);
                        performMove();
                    }
                });
            }, 12000);

        });
    </script>
{% endblock %}
