{% extends "base.html" %}

{% load staticfiles %}


{% block header %}
    <h2>Neues Schachspiel</h2>
{% endblock %}

{% block nav %}
    <h2 style="text-align: left; vertical-align: middle">
        <a href="{% url 'kate:index' %}">ABBRECHEN</a>
    </h2>
{% endblock %}


{% block content %}
    <form id="new" method="post" action="{% url 'kate:create' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    Weisser Spieler: &nbsp;
                </td>
                <td>
                    <input type="text" name="white_player" value="" size="20" />
                </td>
            </tr>
            <tr>
                <td>
                    Schwarzer Spieler: &nbsp;
                </td>
                <td>
                    <input type="text" name="black_player" value="" size="20" />
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="submit" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
