{% extends "base.html" %}

{% load staticfiles %}


{% block header %}
  {% if matchid %}
    <h2>Edit Game</h2>
  {% else %}
    <h2>New Game</h2>
  {% endif %}
{% endblock %}


{% block nav %}
    <ul>
      {% if matchid %}
        <li><a href="{% url 'kate:match' matchid %}?switch={{ switch }}">CANCEL</a></li>
      {% else %}
        <li><a href="{% url 'kate:index' %}">CANCEL</a></li>
      {% endif %}
        
    </ul>
{% endblock %}


{% block content %}
  {% if matchid %} 
    <form id="new" method="post" action="{% url 'kate:settings' matchid %}?switch={{ switch }}">
  {% else %} 
    <form id="new" method="post" action="{% url 'kate:settings' %}">
  {% endif %} 
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <div class="small-gap"></div>

        <input type="submit" value="submit" />
    </form>
{% endblock %}

