{% extends "base.html" %}

{% load staticfiles %}


{% block header %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>New Game</h2>
        </div>
    </div>
{% endblock %}


{% block nav %}
    <div class="grid">
        <div class="row_12_of_12">
            <h2>
                <a href="{% url 'kate:index' %}">CANCEL</a>
            </h2>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid">
        <div class="row_12_of_12">
          {% if matchid %} 
            <form id="new" method="post" action="{% url 'kate:settings' matchid switch %}">
          {% else %} 
            <form id="new" method="post" action="{% url 'kate:settings' %}">
          {% endif %} 
                {% csrf_token %}
                <table>
                  {{ form.as_table }}
                </table>

                <div class="gap"></div>

                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
{% endblock %}

